@model IEnumerable<ProjectoTecnologiasDaInternet3.Models.Client>

@{
    ViewBag.Title = "ListOfClients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
<h2>Clients</h2>

<p>
    @Html.ActionLink("Create New", "AddClient", "Clientes")
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditClient", "Clients", new { id = item.Id }, null) |
                    @Html.ActionLink("DelAjax", null, null, new { id = item.Id, name = "del", @class = "fa fa-trash text-danger" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <h1>No clients available</h1>
}

@section deleteClient
{
    <script>
        $(() => {
            $("[name='del']").click((evt) => {
                evt = evt ? evt : window.event;
                evt.preventDefault();
                let ID = evt.target.id;
                let r = confirm("You really want to permanently delete a client?");
                if (!r) return false;
                $.ajax({
                    url: '@Url.Action("DeleteAjax", "Clients")',
                    type: "post",
                    dataType: "json",
                    data: { Id: ID },
                    success: function (data) {
                        console.log(data.msg);
                        if (data.msg == "ok") {
                            $(evt.target).closest("tr").remove();
                        }
                        $("#tv").html(data.msg);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}
