@model Finanças.Models.v_expense

<h2>NEW EXPENSE @ViewBag.id</h2>
@using (Html.BeginForm("Add_Expenses", "Expenses", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idcli)
    @Html.HiddenFor(model => model.is_payed)
    <hr />

    <div class="form-horizontal gradient-bg">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mb-2 text-center">
            <b>DESCRIPTION</b>
            <div class="col-md-10 mt-2 mx-auto">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control", style = "width: 100%; max-width: 100%;" })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mb-2 ">
            <div class="col col-sm-6 text-center">
                <b>AMONTANT OF PAYMENTE</b>
                <div class="col-sm-5 mt-2  mx-auto ">
                    @Html.EditorFor(model => model.value_Of_Paymente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.value_Of_Paymente, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col col-sm-6 text-center">
                <b>AMOUNT PAYED</b>
                <div class="col-sm-5 mt-2 mx-auto ">
                    @Html.EditorFor(model => model.actual_payment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.actual_payment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-2 ">
            <div class="col col-sm-6 text-center">
                <b>FIRST PAYMENTE</b>
                <div class="col-sm-5 mt-2  mx-auto ">

                    @Html.EditorFor(model => model.dataFirstPayment, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.dataFirstPayment, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col col-sm-6 text-center">
                <b>PAY DAY</b>
                <div class="col-sm-5 mt-2  mx-auto ">
                    @Html.EditorFor(model => model.date_payment, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.date_payment, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="row mb-2 ">
            <div class="col col-sm-6 text-center">
                <b>TYPE FEE</b>
                <div class="col-sm-5 mt-2  mx-auto ">
                    @Html.DropDownListFor(model => model.type_Of_Payment, ViewBag.Fees as SelectList, new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.type_Of_Payment, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col col-sm-6 text-center">
                <b>CATEGORY</b>
                <div class="col-sm-5 mt-2  mx-auto ">
                    @Html.DropDownListFor(model => model.name, ViewBag.Expenses as SelectList, new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .client-photo img {
        width: 70px;
        height: 70px;
    }

    .gap-2 {
        gap: 10px;
    }

    .gradient-bg {
        background: linear-gradient(to right, #00c6ff, #0072ff);
        padding: 20px;
    }
</style>
