@model Finanças.Models.client

@{
    ViewBag.Title = "Detail_client";
}

<h2 class="text-center">@Url.Content(Model.firstName).ToString().ToUpper() @Html.DisplayFor(model => model.lastName).ToString().ToUpper()</h2>

<div class="container ">
    <hr />

    <div class="row gradient-bg">
        <dl class="col col-5">
            <dt class="client-photo">
                @if (Model.fotopath == null)
                {
                    <img src="@Url.Content("~/Photos/nocar.png")" />
                }
                else
                {
                    <img src="@Url.Content("~/Photos/" + Model.fotopath)" />
                }
            </dt>
        </dl>
        <dl class="col col-6">
            <dt>
                <b>ROLE</b>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.role)
            </dd>

            <dt>
                <b>BIRTH DAY</b>
            </dt>
            <dd>
                @Model.datanasc.Value.ToString("dd/MM/yyyy")
            </dd>

            <dt>
                <b>AGE</b>
            </dt>
            <dd>
                @Math.Floor((decimal)Model.age)
            </dd>
        </dl>
        <dl class="col col-0">
            <button type="button" class="btn btn-info mt-2" onclick="location.href='@Url.Action("Edit_client", new { id = Model.idcli })'">EDIT</button>
        </dl>
        <div>
            @{
                Html.RenderAction("List_of_expenses_to_client", new { id = Model.idcli });
            }
        </div>
    </div>


</div>

<p>
    <button type="button" class="btn btn-info mt-2" onclick="location.href='@Url.Action("List_of_clients", "Clients")'">BACK TO LIST</button>
</p>

<style>
    .client-photo img {
        width: 25em;
        height: 25em;
        border-radius: 75%;
    }

    .gradient-bg {
        background: linear-gradient(to right, #00c6ff, #0072ff);
        padding: 20px;
    }
</style>
